*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background:url('/assets/img/anh-bau-troi-dem-3d-scaled.jpg') top center/cover no-repeat;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding:20px 100px;

    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 99;

}

.logo{
    font-size: 34px;
    color:aliceblue;
    user-select: none;
}
.nav a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;  /*độ đậm của chữ*/
    margin-left: 40px;
    font-size: 20px;
}
.nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -7px;
    transform: scaleX(0);
    transition: transform .5s;
}
.nav a:hover::after
{
    transform: scaleX(1);
}
.nav .btn-login{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color:aliceblue;
    font-weight: 500;
    margin-left: 40px ;
    transition: 0.5s;
}
.nav .btn-login:hover{
    background-color: #fff;
    color: black;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    margin-top: 253px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,2.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.wrapper .ti-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color:rebeccapurple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px ;
}
.wrapper .form-login{
    width: 100%;
    padding: 50px;
}
.form-login h2{
    font-size: 40px;
    color: black;
    text-align: center;
}
.input
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin-top: 25px;
}
.input label{
    font-weight: 500;
    /* color: black; */
    font-size: 1em;
    position: absolute;
    top: 50%;
    /* color: #fff; */
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}
.input input:focus~label,
.input input:valid~label {top: -5px;}
.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em ;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input .ti-email
{
    position: absolute;
    right: 8px;
    margin-top: 16px;
}
.input .ti-lock
{
    position: absolute;
    right: 8px;
    margin-top: 1px;
    font-size: 1.2em;
    line-height: 57px;
}
.save-password{
    font-weight: 400;
    margin: 13px 0 ;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.save-password label input{
    accent-color: black;
    margin-right: 8px;
}
.save-password a{
    color: black;
    text-decoration: none;

}
.btn{
    width: 100%;
    height: 45px;
    background-color: purple;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}
.btn:hover{
    background-color: antiquewhite;
    color: blue;
}
.no-account{
    font-size: 15px;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 16px 0;
}
.no-account p a {
    color: black;
    text-decoration: none ;
    font-weight: 600;
}
.no-account p a:hover{
    text-decoration: underline;
}